!!! 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title Plunker - Authorized
  body
    script
      // <!--
      !{state}
      // -->

      if (window.opener && _plunker && _plunker.auth) {
        window.opener._handleOAuthSuccess(_plunker.auth);
      }

      window.close();