[submodule "assets/vendor/jquery-timeago"]
	path = assets/vendor/jquery-timeago
	url = https://github.com/rmm5t/jquery-timeago.git
[submodule "assets/vendor/Font-Awesome-More"]
	path = assets/vendor/Font-Awesome-More
	url = https://github.com/gregoryloucas/Font-Awesome-More.git
[submodule "assets/vendor/json2"]
	path = assets/vendor/json2
	url = https://github.com/douglascrockford/JSON-js.git
[submodule "assets/vendor/ace"]
	path = assets/vendor/ace
	url = git://github.com/ajaxorg/ace-builds.git
[submodule "assets/vendor/noty"]
	path = assets/vendor/noty
	url = git://github.com/needim/noty.git
[submodule "assets/vendor/jquery.cookie"]
	path = assets/vendor/jquery.cookie
	url = git://github.com/carhartl/jquery-cookie.git
[submodule "assets/vendor/jszip"]
	path = assets/vendor/jszip
	url = git://github.com/Stuk/jszip.git
[submodule "assets/vendor/bootstrap"]
	path = assets/vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "assets/vendor/angular-ui"]
	path = assets/vendor/angular-ui
	url = git://github.com/angular-ui/angular-ui.git
[submodule "assets/vendor/flatstrap"]
	path = assets/vendor/flatstrap
	url = git://github.com/littlesparkvt/flatstrap.git
[submodule "assets/vendor/select2"]
	path = assets/vendor/select2
	url = git://github.com/ivaynberg/select2.git
