.c9revisions
.git

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

config.json
config.production.json
config.development.json

data

mongod
redis.conf