[submodule "assets/vendor/bootstrap"]
	path = assets/vendor/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "assets/vendor/jquery-timeago"]
	path = assets/vendor/jquery-timeago
	url = https://github.com/rmm5t/jquery-timeago.git
[submodule "assets/vendor/Font-Awesome-More"]
	path = assets/vendor/Font-Awesome-More
	url = https://github.com/gregoryloucas/Font-Awesome-More.git
