!!! 5
html#ng-app(ng-app="plunker.editorPage", lang="en", class="ng-app:plunker.editorPage", xmlns:ng="http://angularjs.org")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="description",content="Plunker is an online community for creating, collaborating on and sharing your web development ideas.")
    meta(name="keywords",content="jquery,angular.js,editor,online,jsfiddle,codepen,pastebin,testing,javascript testing,css testing,javascript,css,coffeescript,preview,live preview")
    meta(name="fragment", content="!")
    base(href="/edit/")
    title Plunker
    != css("apps/editor")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    // if lte IE 8
      script
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    // if lt IE 8
      script(src="/vendor/json2/json2.js")
    script(src="//cdn.rawgit.com/jpillora/xdomain/gh-pages/dist/0.6/xdomain.min.js")
    script
      xdomain.slaves({
        '!{url.api}': "/proxy.html",
        '!{url.collab}': "/proxy.html",
      })
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    // script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js")
    
    script
      <!--
      !{state.toString().replace(/<\//g,"<\\/").replace(/-->/g, "--\\>")}
      -->
      
    != js("apps/editor")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28928507-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-28928507-5', 'plnkr.co');

    script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f60c7714e5b5629")


  body
    div.overlay
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a.brand(href="/")
            span.brandname Plunker
              sub.version(ng-bind-template="v{{package.version}}")

          <plunker-userpanel></plunker-userpanel>
          <plunker-toolbar></plunker-toolbar>

          // Top nav bar
          div.nav
            ul#navbar.nav
              li(ng-class="{active:item==menu.active}", ng-repeat="(name, item) in menu.items")
                a(ng-href="{{item.href}}", title="{{item.title}}")
                  i(ng-class="item.class")
                  span(ng-bind="item.text")
    <plunker-editor-layout></plunker-editor-layout>
    <ng-view></ng-view>
