!!! 5
html#ng-app(ng-app="plunker.editorPage", lang="en", class="ng-app:plunker.editorPage", xmlns:ng="http://angularjs.org")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    base(href="/edit/")
    title Plunker
    != css("pages/editor")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    // if lte IE 8
      script
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    // if lt IE 8
      script(src="/vendor/json2/json2.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    // script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js")
    script
      var _plunker = {
        "url": !{url},
        "package": !{package},
        "session": !{session},
        "bootstrap": !{bootstrap}
      };
    != js("pages/editor")

  body
    div.overlay
      p.message
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a.brand(href="/") Plunker
            sub.version v{{package.version}}

          <userpanel></userpanel>

          // Top nav bar
          div.nav
            ul#navbar.nav
              li(ng-class="{active:item==menu.active}", ng-repeat="(name, item) in menu.items")
                a(ng-href="{{item.href}}", title="{{item.title}}")
                  i(ng-class="item.class")
                  span(ng-bind="item.text")
    <plunker-editor-layout></plunker-editor-layout>
    <ng-view></ng-view>
