!!! 5
html#ng-app(ng-app="plunker.editorPage", lang="en", class="ng-app:plunker.editorPage", xmlns:ng="http://angularjs.org")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="description",content="Plunker is an online community for creating, collaborating on and sharing your web development ideas.")
    base(href="/edit/")
    title Plunker
    != css("pages/editor")
    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    // if lte IE 8
      script
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    // if lt IE 8
      script(src="/vendor/json2/json2.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    // script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js")
    - var url_escaped = JSON.stringify(url || null).replace(/<\//g,"<\\/")
    - var package_escaped = JSON.stringify(package || null).replace(/<\//g,"<\\/")
    - var session_escaped = JSON.stringify(session || null).replace(/<\//g,"<\\/")
    - var bootstrap_escaped = JSON.stringify(bootstrap || null).replace(/<\//g,"<\\/")
    
    script
      // <!--
      var _plunker = {
        "url": !{url_escaped},
        "package": !{package_escaped},
        "session": !{session_escaped},
        "bootstrap": !{bootstrap_escaped}
      };
      // -->
    != js("pages/editor")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28928507-3']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


  body
    div.overlay
    nav.navbar.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a.brand(href="/") Plunker
            sub.version(ng-bind-template="v{{package.version}}")

          <plunker-userpanel></plunker-userpanel>
          <plunker-toolbar></plunker-toolbar>

          // Top nav bar
          div.nav
            ul#navbar.nav
              li(ng-class="{active:item==menu.active}", ng-repeat="(name, item) in menu.items")
                a(ng-href="{{item.href}}", title="{{item.title}}")
                  i(ng-class="item.class")
                  span(ng-bind="item.text")
    <plunker-editor-layout></plunker-editor-layout>
    <ng-view></ng-view>
