<!DOCTYPE html>

<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=0">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@plnkrco">
    <meta name="twitter:title" content="{{plunk.description}}">
    <meta name="twitter:description" content="Created on Plnkr: Helping developers build the web.">
    <meta name="twitter:image" content="{{url.shot}}/{{plunk.id}}.png?d={{plunk.updated_at}}">
    <title>{{plunk.description}} - Plunker</title>
    <link rel="stylesheet" href="/css/embed{{suffix}}.css?_={{timestamp}}" />
</head>

<body>
    {{#each plunk.files}}
        <input class="content-switcher code-toggle" type="radio" id="toggle-{{toSnake filename}}" name="content">
    {{/each}}
    <input class="content-switcher" type="radio" id="toggle-preview" checked name="content">
    <input class="content-switcher" type="radio" id="toggle-files" name="content">
    <div class="embed-wrapper">
        <div class="toolbar-wrapper">
            <div class="toolbar-left">
                <a class="logo" href="http://plnkr.co" target="_blank"></a>
                <a class="title" href="http://plnkr.co/edit/{{plunk.id}}" target="_blank">{{plunk.description}}</a>
            </div>
            <div class="toolbar-right">
                <label class="toolbar-button -code" for="toggle-files">Code</label>
                <label class="toolbar-button -preview" for="toggle-preview">Preview</label>
            </div>
        </div>
        <div class="content-wrapper">
            {{#each plunk.files}}
                <pre id="code-{{toSnake filename}}" class="code-view">
                    <span class="filename">{{filename}}</span>
                    {{syntaxHilightCode}}
                </pre>
            {{/each}}
            <iframe class="plunk-preview" src="http://run.plnkr.co/plunks/{{plunk.id}}/" width="100%" height="100%" frameborder="0"></iframe>
            <div class="file-listing">
                {{#each plunk.files}}
                    <label class="file-selector" for="toggle-{{toSnake filename}}">{{filename}}</label>
                {{/each}}
            </div>
        </div>
    </div>
</body>

</html>