<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="plunker.app.editor" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="plunker.app.editor" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="plunker.app.editor" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" id="ng-app" ng-app="plunker.embed"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=0">
    <title>Plunker - {{plunk.description}}</title>
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
    <link rel="stylesheet" href="/css/embed{{suffix}}.css?_={{timestamp}}" />
    <script>
      var plunk = {{jsObj plunk}};
    </script>
    <script src="/vendor/ace/src{{suffix}}-noconflict/ace.js"></script>
    <script src="/vendor/ace/src{{suffix}}-noconflict/ext-static_highlight.js"></script>
    <script src="/js/embed{{suffix}}.js?_={{timestamp}}"></script>
  </head>

  <body ng-controller="EmbedController" ng-class="{showfiles: showfiles}">
    <div class="header">
      <a class="plunker-brand" href="http://plnkr.co"></a>
      <h1 class="description">{{plunk.description}}</h1>
      <ul class="menu">
        <li ng-class="{active: $state.includes('embed.preview')}">
          <a ui-sref="embed.preview">Preview</a>
        </li>
        <li>
          <a href="http://plnkr.co/edit/{{plunk.id}}">Edit</a>
        </li>
        <li ng-class="{active: $state.includes('embed.file')}">
          <a ng-click="toggleFiles()">Code</a>
        </li>
      </ul>
    </div>
    <div class="nav">
      <ul>
        {{#each plunk.files}}
        <li>
          <a ui-sref="embed.file({filename: '{{filename}}'})">{{filename}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="overlay" ng-show="showfiles" ng-click="toggleFiles(false)">
    </div>
    <div class="content" ui-view>
    </div>
  </body>

</html>