<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=0">
    <title>Plunker</title>
    <script src="//code.angularjs.org/1.2.0rc1/angular.js"></script>
    <script src="//code.angularjs.org/1.2.0rc1/angular-cookies.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="//cdn.jsdelivr.net/lodash/1.3.1/lodash.js"></script>
    <script src="//cdn.jsdelivr.net/restangular/1.0.9/restangular.js"></script>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="http://gregoryloucas.github.io/Fontstrap/assets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/landing.css" />
    <script>{{{state}}}</script>
    <script src="/main.js"></script>
  </head>

  <body>
  </body>

</html>