<!DOCTYPE html>
<html ng-app="plunker.app.editor">

  <head>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=0">
    <title>Plunker</title>
    <link rel="stylesheet" href="/css/apps/editor.css?rel={{timestamp}}" />
    <script>{{{state}}}</script>
    <script src="/vendor/ace-builds/src-noconflict/ace.js"></script>
    <script src="/js/apps/editor.js?rel={{timestamp}}"></script>
  </head>

  <body>
    <div ui-view></div>
    <div growl></div>
  </body>

</html>