<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="plunker.app.editor" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="plunker.app.editor" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="plunker.app.editor" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" id="ng-app" ng-app="plunker"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=0">
    <title>Plunker</title>
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
    <link rel="stylesheet" href="/css/plunker{{suffix}}.css?_={{timestamp}}" />
    <script>{{{state}}}</script>
    <script src="/vendor/ace/src{{suffix}}-noconflict/ace.js"></script>
    <script src="/js/plunker{{suffix}}.js?_={{timestamp}}"></script>
  </head>

  <body>
    <div ui-view></div>
    <div growl></div>
  </body>

</html>