<div class="container">
  <plunker-pager class="pull-right" collection="plunks"></plunker-pager>
  
  <ul class="nav nav-pills pull-left">
    <li ng-repeat="(name, filter) in filters | orderBy:'text':true" ng-class="{active: filter == activeFilter}">
      <a ng-href="{{filter.href}}" ng-bind="filter.text"></a>
    </li>
  </ul>

  <div class="row">
    <div class="span12">
      <plunker-gallery plunks="plunks"></plunker-gallery>
    </div>
  </div>

  <plunker-pager class="pagination-right" collection="plunks"></plunker-pager>
</div>