@import "../components/taglist";

.plunk-card {
  float: left;
  min-height: 1px;
  margin: 0 15px 15px 15px;
  width: 270px;
  
  .plunk-card-body {
    display: block;
    position: relative;  
    margin: 0 auto;  
    padding: 10px 0;
    background-color: #fff;  
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);;  
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);;  
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);;
    
    .plunk-card-image {
      margin: 0 10px;
      border: 1px solid #CCC;
      -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
      -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
      box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
      position: relative;
      
      .plunk-card-image-container {
        width: 248px;
        height: 186px;
        overflow: hidden;
        
        img {
          width: 248px;
          height: 186px;
        }
      }
    }
    
    .plunk-card-operations  {
      margin: 0;
      padding: 10px;
      display: none;
      position: absolute;
      bottom: 30px;
      right: 0;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5);
      padding-top: 0;  
      
      li {
        display: inline-block;
        margin-right: 10px;
        padding-top: 10px;
      }
    }
    
    &:hover .plunk-card-operations {
      display: block;
    }
    
    .plunk-card-about {
      margin: 0 10px;
      
      h4 {
        font-size: 14px;
        line-height: 18px;
        margin: 6px 0 2px 0;
        word-wrap: break-word;
        word-break: user;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
      }
      
      .plunk-card-about-author {
        font-size: 90%;
      }
    }

    .plunker-taglist {
      margin: 0;
      margin-top: 8px;
    }
    
    
    .plunk-card-meta {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 22px;
      font-size: 90%;
      margin: 0;
      padding: 4px;
      background: rgba(255, 255, 255, 0.75);
      
      .plunk-info {
        margin: 0;
      }
      
      .info li a, .meta li a {
        color: #333;
        text-decoration: none;
      }
      
      .info li a:hover, .meta li a:hover {
        color: #08C;
      }
    }
    
    .plunk-card-about-readme {
      font-size: 12px;
      line-height: 16px;
      border-top: 1px solid #dfdfdf;
      padding-top: 4px;
      margin-top: 4px;
      
      h1 {
        font-size: 120%;
        line-height: 120%;
      }
      
      h2 {
        font-size: 115%;
        line-height: 115%;
      }
      h3 {
        font-size: 110%;
        line-height: 110%;
      }
      h4 {
        font-size: 105%;
        line-height: 105%;
      }
      h5,h6 {
        font-size: 12px !important;
        line-height: 16px !important;
      }
    }
  }
  
  .btn.starred {
    color: #08C;
  }
}




