.plunker-quick-view {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: white;
  z-index: 999;
  
  .preview {
    position: absolute;
    top: 90px; bottom: 50px; left: 50px;
    right: 40%;
    
    border: 8px solid #333;
  }
  
  .about {
    position: absolute;
    top: 90px; bottom: 50px; right: 50px;
    left: 65%;
    
    height: auto;
    
    padding-left: 5%;
    border-left: 1px solid #EEE;
  }
    
}