.plunker-toolbar {
  background-color: #dfdfdf;
  
  .border-layout-pane-scroller {
    overflow: visible;
  }
  
  .plunker-brand {
    background: url('http://plnkr.co/img/plunker.png') no-repeat;
    background-size: 40px 40px;
    background-position: 20px center;
    padding-left: 60px !important;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 900;
    color: #777777;
    height: 40px;
    line-height: 40px;
    float: left;
    text-decoration: none;
    
    .version {
      font-size: 50%;
      color: #ccc;
    }
  }
  
  .plunker-editor-toolbar {
    margin-left: 30px;
    line-height: 40px;
    height: 40px;
    
    .pull-left {
      margin-left: 30px;
    }
  }
}