<div class="plunker-editor-layout">
  <border-layout class="outer" plunker-disabler="editor">
    <pane class="plunker-toolbar" options="layout.current.toolbar">
      <div class="pull-left toolbar-template-toggler">
        <button class="btn btn-sm btn-default" ng-class="{active: !layout.current.templates.closed}" ng-click="workspace.togglePane('templates')" tooltip="Toggle the templates pane" tooltip-append-to-body="true" tooltip-placement="right">
          <i class="icon-briefcase"></i>
        </button>
      </div>
      <div ui-view="toolbar"></div>
    </pane>
    
    <pane class="plunker-templates" options="layout.current.templates">
      <div ui-view="templates"></div>
    </pane>
    
    <pane class="plunker-paneselector" options="{anchor: 'east', size: '50px', order: 8, closed: false}">
      <div ui-view="paneselector"></div>
    </pane>
    
    <pane class="plunker-multipane" options="layout.current.multipane">
      <div plunker-multipane>
      </div>
    </pane>
    
    <pane class="plunker-sidebar" options="{anchor: 'west', size: '200px', min: '200px', max: '300px', order: 1, handle: 4}">
      <div ui-view="sidebar"></div>
    </pane>
    
    <pane class="plunker-previewer" options="layout.current.preview">
      <previewer></previewer>
    </pane>
    
    <pane class="plunker-editor" options="{anchor: 'center'}">
      <border-layout>
        <pane options="{order:workspace.getSplitCount()-$index, anchor: $index!=workspace.getSplitCount() - 1 && 'west', size: 100/workspace.getSplitCount() + '% - 1px', handle: 2}" ng-repeat="fileIndex in workspace.getSplits() track by fileIndex"><div ace-editor="fileIndex"></div></pane>
      </border-layout>
    </pane>
  </border-layout>
  <div ui-view></div>
</div>