.plunker-previewer {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: hidden;
  
  .plunker-previewer-iframe {
    border: 0; margin: 0; padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  
  .plunker-previewer-overlay {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 999;
  }
  
  .plunker-previewer-ops {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: -1px;
    right: 8px;
    height: 28px;
    z-index: 1000;
    background-color: #eee;
    font-family: sans-serif;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    
    .btn-toolbar {
      margin: 2px;
      height: 20px;
    }
  }

  .plunker-previewer-ops:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;
  }
  
  .windowed {
    padding: 8px;
  }
}

.plunker-paneselector li.windowed.plunker-pane-preview a {
  color: #333;
}
.plunker-paneselector li.windowed.plunker-pane-preview.active a {
  color: white;
}
